# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Submission files
studies/submission_files/*
!studies/submission_files/.gitkeep

# Heavy file
*.json
*.parquet

# AFS files
.__afs*
# Python virtual environment
.venv/
miniforge/

#vscode config
.vscode/

# Scans
studies/scans/**/base_collider
studies/scans/**/id_job.yaml
studies/scans/**/tree_maker.json
studies/scans/**/tree_maker.log
!studies/scans/**/da.parquet
!studies/scans/.gitkeep
studies/template_jobs/1_build_distr_and_collider/collider.json.zip
studies/template_jobs/1_build_distr_and_collider/tree_maker.log
studies/template_jobs/1_build_distr_and_collider/collider.json.zip
studies/template_jobs/2_configure_and_track/tree_maker.log
# filling_schemes
!studies/filling_scheme/*

# misc
da-study-docker_latest.sif

# Poetry lock file
# poetry.lock